* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

.table {
    padding: 30px;
}

th {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
}

.form-group {
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(47, 140, 245);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


td {
    border: 1px solid #ddd;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

i {
    cursor: pointer;
    color: red;

}